html{
    font-family: Helvetica, sans-serif;
    background: rgb(238, 238, 238);
    color: rgb(51,51,51);
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
section img{
    max-width: 700px;
    width: 100%;
}
article{
    width: 60%;

}
article,aside{
    display: inline-block;
    vertical-align: top;
}
body{
    background: rgb(238, 238, 238);
    max-width: 1300px;
    margin: 20px auto;
}
